[submodule "followAlong/jsMastery/3js"]
  path = followAlong/jsMastery/3js
	url = git@github.com:JavaScript-Mastery-Pro/gsap-cc-starter.git
	branch = main
[submodule "followAlong/jsMastery/realtimeapp"]
  path = followAlong/jsMastery/realtimeapp
  url = git@github.com:tushyagupta81/realtimeNextjsCourse.git
	branch = main
[submodule "followAlong/next-website-follow-along"]
  path = followAlong/next-website-follow-along
  url = git@github.com:tushyagupta81/nextSiteFollow.git
	branch = main
[submodule "hackathons/SFHS codehack"]
  path = hackathons/SFHS codehack
  url = git@github.com:tushyagupta81/1220_HS_CODEHACK2022.git
	branch = main
[submodule "projects/SpotifyToYoutube"]
  path = projects/SpotifyToYoutube
  url = git@github.com:tushyagupta81/SpotifyToYoutube.git
	branch = main
[submodule "school/Project"]
  path = school/Project
  url = git@github.com:tushyagupta81/CS_Project.git
	branch = main
[submodule "hackathons/boosthack2/financeApp"]
  path = hackathons/boosthack2/financeApp
  url = git@github.com:tushyagupta81/boosthack2.git
	branch = main
[submodule "projects/bangaloreDashboard/dashboard2"]
  path = projects/bangaloreDashboard/dashboard2
  url = git@github.com:tushyagupta81/bangaloreDashboard.git
	branch = main
[submodule "followAlong/techWithTim/djangoReactNotes"]
  path = followAlong/techWithTim/djangoReact
  url = git@github.com:tushyagupta81/djangoReactNotes.git
	branch = main
[submodule "hackathons/hackpec"]
	path = hackathons/hackpec
	url = git@github.com:tushyagupta81/intelRead.git
	branch = main
[submodule "courses/macroquad/my-game"]
	path = courses/macroquad/my-game
	url = git@github.com:tushyagupta81/macroquad-tut.git
	branch = main
[submodule "vault"]
	path = vault
	url = git@github.com:tushyagupta81/ObsidianVault.git
	branch = main
[submodule "projects/compiler/interpreter-rust"]
	path = projects/compiler/interpreter-rust
	url = git@github.com:tushyagupta81/interpreter-rust.git
	branch = main
[submodule "projects/goonj2025"]
	path = projects/goonj2025
	url = git@github.com:Jatin-1111/goonj2025.git
	branch = master
[submodule "hackathons/sih2024"]
	path = hackathons/sih2024
	url = git@github.com:tushyagupta81/sih2024.git
	branch = main
[submodule "college/ada25"]
	path = college/ada25
	url = git@github.com:tushyagupta81/ada25.git
	branch = main
[submodule "projects/dbmsProject"]
	path = projects/dbmsProject
	url = git@github.com:tushyagupta81/dbmsProj.git
	branch = main
[submodule "projects/compiler/interpreter-zig"]
	path = projects/compiler/interpreter-zig
	url = git@github.com:tushyagupta81/interpreter-zig.git
	branch = main
[submodule "hackathons/hacktu"]
	path = hackathons/hacktu
	url = git@github.com:tushyagupta81/codex.git
[submodule "projects/compiler/hydrogen"]
	path = projects/compiler/hydrogen
	url = git@github.com:tushyagupta81/hydrogen.git
	branch = main
[submodule "courses/Udemy"]
	path = courses/Udemy
	url = git@github.com:tushyagupta81/udemy.git
	branch = main
[submodule "forks/tmux-floax"]
	path = forks/tmux-floax
	url = git@github.com:tushyagupta81/tmux-floax.git
	branch = main
[submodule "projects/arduino/arduino-examples"]
	path = projects/arduino/arduino-examples
	url = https://github.com/arduino/arduino-examples.git
	branch = main
[submodule "projects/amazonWebscrapper"]
	path = projects/amazonWebscrapper
	url = git@github.com:tushyagupta81/amazonWebscrapper.git
	branch = main
[submodule "projects/compiler/interpreter-bytecode"]
	path = projects/compiler/interpreter-bytecode
	url = git@github.com:tushyagupta81/interpreter-bytecode.git
	branch = main
[submodule "projects/billingSystem"]
	path = projects/billingSystem
	url = git@github.com:tushyagupta81/billingSystem.git
	branch = main
[submodule "projects/typingPractice"]
	path = projects/typingPractice
	url = git@github.com:tushyagupta81/typingPractice.git
	branch = main
[submodule "projects/chess_engine"]
	path = projects/chess_engine
	url = git@github.com:tushyagupta81/chess_engine.git
	branch = main
[submodule "followAlong/os-tutorial"]
	path = followAlong/os-tutorial
	url = git@github.com:tushyagupta81/os-tutorial.git
	branch = main
[submodule "projects/nuls"]
	path = projects/nuls
	url = git@github.com:tushyagupta81/nuls.git
	branch = main
[submodule "followAlong/os_blog"]
	path = followAlong/os_blog
	url = git@github.com:tushyagupta81/os_blog.git
	branch = main
[submodule "forks/tmux-sessionx"]
	path = forks/tmux-sessionx
	url = git@github.com:tushyagupta81/tmux-sessionx.git
	branch = main
[submodule "college/computer_graphics"]
	path = college/computer_graphics
	url = git@github.com:tushyagupta81/computer_graphics.git
	branch = main
[submodule "forks/raylib-quickstart"]
	path = forks/raylib-quickstart
	url = git@github.com:tushyagupta81/raylib-quickstart.git
	branch = main
