[submodule "followAlong/jsMastery/3js"]
	url = https://github.com/JavaScript-Mastery-Pro/gsap-cc-starter.git
[submodule "followAlong/kata-machine/"]
	url = https://github.com/ThePrimeagen/kata-machine
