h1 {
  font-size: 48px;
  /* color: #ff7f50; */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
header {
  background-color: #001F36;
  color: #fff;
  padding: 20px;
  text-align: center;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  /* background-color: #f4f4f4; */
  background-color: #001F36;

  /* background-image: url(http://getwallpapers.com/wallpaper/full/7/c/6/765090-most-popular-technology-background-images-1920x1080-hd-for-mobile.jpg); */
}
.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #ffe4e1;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #b22222;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
label:not(.tac) {
  display: block;
  margin: 10px 0 5px;
}
select,
input:not(.tac),
textarea {
  width: 96%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
select {
  width: 100%;
}
button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
input[type="submit"]:hover {
  background: #4cae4c;
}
a {
  color: rgb(42, 159, 165);
}
.tac {
  padding: 10px;
  margin-bottom: 20px;
}
.title {
  display: flex;
}
.title div{
  max-width: fit-content;
  margin-right: auto;
  margin-left: auto;
}
