body,html{
    padding:0;
    margin:0;
}
nav{
    display:flex;
    background-color:lightblue;
    position:fixed;
    top:0;
    width:100%;
    padding:5px;
    max-height:5rem;
}
header{
    margin-top:5rem;
    display:flex;
    max-width:fit-content;
    margin-left:auto;
    margin-right:auto;
}
.login{
    max-width:fit-content;
    margin-left:auto;
    margin-right:1rem;
    padding:1rem;
}
a,h2{
    margin-left:1rem;
}
a{
    padding:0.5rem;
    margin-left:0.5rem;
    text-decoration:none;
}
a:hover{
    cursor: pointer;
}
.btn{
    border:1px solid black;
    border-radius:5px;
    color:black;
}
#home-page-btn{
    padding:0;
    margin:0;
    margin-left:1rem
}
.heading{
    display:block;
}
.heading h1{
    max-width:fit-content;
    margin-left:auto;
    margin-right:auto;
}
.heading h2{
    max-width:fit-content;
    margin-left:auto;
    margin-right:auto;
}
.home-tpc-logo{
    height:3rem;
    padding:0;
    margin:0;
    border: 1px solid black;
    border-radius:10px;
}
header img{
    max-width:6rem;
    max-height:fit-content;
    margin-top:auto;
    margin-bottom:auto;
    padding:0.5rem;
}
h3{
    margin-left:1rem;
}
p{
    text-align:justify;
    margin-left:2rem;
    margin-right:2rem;
}
.team{
    display:grid;
    margin-left:2rem;
    margin-right:2rem;
    max-width:fit-content;
    margin-left:auto;
    margin-right:auto;
}
.team div{
    maring-right:5rem;
    margin-left:5rem;
}
.team p{
    margin-bottom:2rem;
    max-width:fit-content;
    margin-left:auto;
    margin-right:auto;
}
.team h4{
    max-width:fit-content;
    margin-left:auto;
    margin-right:auto;
}
.team img{
    border:3px solid black;
    border-radius:5px;
    width:100%
}
.m1{
    grid-column:1;
    grid-row:1;
}
.m2{
    grid-column:2;
    grid-row:1;
}
.m3{
    grid-column:3;
    grid-row:1;
}
.m4{
    grid-column:1;
    grid-row:2;
}
.m5{
    grid-column:2;
    grid-row:2;
}
.m6{
    grid-column:3;
    grid-row:2;
}
form{
  margin-top:6rem;
}
