body{
    font-family: 'Times New Roman';
}
table,td{
    border: 1px solid black;
}
.center{
    max-width:fit-content;
    margin-left: auto;
    margin-right: auto;
}
td{
    background-color:#799edb;
    padding-left:10px;
    padding-right:10px;
}
th{
    background-color:#ffd04f;
    font-size: 3rem;
    color: red;
}
.button{
    max-width:fit-content;
    margin-left:auto;
    margin-right:auto;
}
